<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="overflow: auto">
<head>
    <meta charset="UTF-8">
    <title>Недостоаточно котиков :(</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="cont">
    <div class="header">
        <h2>Мимимиметр</h2>
        <h4 th:if="${notEnoughCatsMessage}" th:text="${notEnoughCatsMessage}"></h4>
    </div>

    <div class="card">
        <a href="/addCat">Добавить котика</a>
    </div>
</div>
</body>
</html>